.search-menu-container {
    height:50%;
}

.search-field {
    width: 60%;
    margin: 10%;
    margin-top: 10%;
    margin-left:4%;
}


.search-button{
    margin:10%;
    width:30%;
    height: 22%;
    margin-left:36%;
    margin-top: -22%;
    margin-left: 66%;
    color: white;
    background: #6c757d;
}

.search-button:active{
    background:#6c757d;
    color:white
}

.search-button:focus{
    background:#6c757d;
    color:white
}


.search-header {
    margin:10%;
}