.parentPanel {
  height:530px;
  width: 20%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /*overflow-y: auto;*/
}

.parentTweets {
  height:530px;
  width: 55.2%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /*overflow-y: auto; */
}

.parentSearch {
  height:530px;
  width: 24.8%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /*overflow-y: auto;*/

}

.parentPanels{
  display:flex;
  flex-direction: row;
}

.simplebar-track.simplebar-horizontal {
  display: none;
}

.simplebar-content {
 overflow-x: hidden;
}


/* total width */
.tweets-section-parent::-webkit-scrollbar,
{
  background-color:#fff;
  width:16px
}

/* background of the scrollbar except button or resizer */
.tweets-section-parent::-webkit-scrollbar-track,
{
  background-color:#fff
}

/* scrollbar itself */
.tweets-section-parent::-webkit-scrollbar-thumb,
{
  background-color:#babac0;
  border-radius:16px;
  border:4px solid #fff
}

/* set button(top and bottom of the scrollbar) */
.tweets-section-parent::-webkit-scrollbar-button,
{
  display:none
}


